<div *ngIf="country">
  <button type="button" (click)="goBack()">&larr; back</button>
  <div class="details">
    <img
        [src]="country.flags.png"
        [alt]="country.name.common"
        width="320"
        height="170"
      />
    <div class="info">
      <h2>{{ country.name.common }}</h2>
      <p>Capital: {{ country.capital[0] }}</p>
      <p>Population: {{ country.population }}</p>
      <p *ngFor="let country of country.borders">Border countries: {{ country }}</p>
    </div>
  </div>
</div>
